THUMB_IMAGE = "https://ibb.co/V96H8Tq"
port = 5000
email = "ak8602306506@gmail.com"
global_url = "itzmathis_god)"
OWNER_NAME = "ayushdeveloper001"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 91
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= Nezuko
WORKTYPE = public
PACK_INFO = "Ayush;developer"
ANTILINK_VALUES = "chat.whatsapp.com"
